body {
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80');
}

.form-control {
    border: 0;
}

.mwidth {
    max-width: 700px;
    z-index: 99999;
    background-color: white;
}
